html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

body {
    background-color: #e0eaf8;
    min-height: 100vh;
    padding: 30px 0;
    font-family: Arial, sans-serif;
}


.heading {
    width: 90%;
    margin: 0 auto 30px auto;
    padding: 15px;

    background-color: #0B1F3A;
    color: gold;

    text-align: center;
    font-size: 30px;
    font-weight: bold;

    border-radius: 10px;
    box-sizing: border-box;
}

button {
    padding: 13px 30px;

    margin: 10px 5px 0 5px;

    border: none;

    border-radius: 10px;

    background-color: #0B1F3A;

    color: gold;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

    transition: all 0.3s ease;
}


.billpayment {
    width: 90%;
    min-height: 85vh;

    margin: 0 auto;
    padding: 25px;

    background-color: white;

    border-radius: 15px;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}



.billpayment .option {
    height: 300px;

    border: none;
    border-radius: 12px;

    background-color: #F4F7FB;
    color: #0B1F3A;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
}



.billpayment .option:hover {
    background-color: #0B1F3A;
    color: gold;

    transform: scale(1.03);

    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {

    .billpayment {
        grid-template-columns: 1fr;
    }

    .billpayment .option {
        height: 180px;
    }

}