
html,
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

body {
    background-color: #e0eaf8;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding-top: 50px;
}



h2 {
    width: 500px;
    margin: 0 auto 30px auto;
    padding: 15px;

    background-color: #0B1F3A;
    color: gold;

    font-size: 30px;
    font-weight: bold;

    border-radius: 10px;
    box-sizing: border-box;
}

.pay{
    padding: 13px 30px;
    margin: 10px 5px 0 5px;
    border: none;
    border-radius: 10px;
    background-color: #0B1F3A;

    color: gold;

    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

    transition: all 0.3s ease;
}

.pay:hover {
    background-color: #0B1F3A;
    color: gold;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 35px;

    background-color: white;

    border-radius: 15px;

    box-sizing: border-box;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    text-align: left;
}


label {
    display: block;

    margin-bottom: 8px;

    color: #0B1F3A;

    font-size: 17px;
    font-weight: bold;
}


input {
    width: 100%;

    padding: 14px;

    margin-bottom: 20px;

    background-color: #F4F7FB;

    border: 2px solid #d5dce5;
    border-radius: 10px;

    color: #0B1F3A;

    font-size: 16px;

    box-sizing: border-box;

    outline: none;

    transition: all 0.3s ease;
}


input:focus {
    border-color: #0B1F3A;

    background-color: white;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
}


button {
    padding: 13px 30px;

    margin: 10px 5px 0 5px;

    border: none;

    border-radius: 10px;

    background-color: #0B1F3A;

    color: gold;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

    transition: all 0.3s ease;
}


button:hover {
    background-color: #162f50;

    color: gold;

    transform: scale(1.03);

    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {

    h2 {
        width: 90%;
        font-size: 24px;
    }

    form {
        width: 90%;
        padding: 25px;
    }

}
